.Sidebar {
    position: relative;
    width: var(--sidebar-width-closed);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    transition: var(--color-transition);
}

.isOpen {
    width: var(--sidebar-width);
}

.switchers {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.margin {
    margin-left: 10px;
}