.Sidebar {
    position: relative;
    min-width: var(--navbar-height);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    transition: var(--color-transition);
    display: flex;
    justify-content: center;
}

.Sidebar.isOpen {
    justify-content: flex-start;
    min-width: var(--sidebar-width);
}

.switchers {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 37px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.isOpen {
    .switchers {
        flex-direction: row;
    }

    .margin {
        margin-left: 10px;
    }

    .collapseBtn {
        bottom: 30px;
    }

    .links {
        margin-left: 30px;
    }

}