.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    &:not(:first-child) {
        margin-top: 10px;
    }

}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.editing {
    border: 2px solid var(--primary-color);
}