.app_blue_theme {
    --bg-color: #3961d9;
    --inverted-bg-color: #F4F6FB;
    --primary-color: #F4F6FB;
    --secondary-color: #26AAC5;
    --inverted-primary-color: #3961d9;
    --inverted-secondary-color: #F4F6FB;
    --skeleton-color: #26AAC5;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-bg: #6583ed;
    --card-bg: #233c87;
}