.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #0df804;
    --secondary-color: #070786;
    --inverted-primary-color: #0843f5;
    --inverted-secondary-color: #0537a4;
}