.Modal {
    position: fixed;
    inset: 0;
    z-index: var(--modal-z-index);
    opacity: 0;
    pointer-events: none;
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--overlay-color);
}

.content {
    position: relative;
    padding: 20px;
    border-radius: 6px;
    background: var(--inverted-bg-color);
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;
    color: var(--secondary-color);
    font: var(--font-m);
}

.opened {
    opacity: 1;
    pointer-events: auto;

    .content {
        transform: scale(1);
    }
}

.isClosing {
    opacity: 0;
    transition: 0.3s all;

    .content {
        transform: scale(0.5);
    }
}