$darkBgColor: #0c0479;
$darkPrimaryColor: #05dc33;
$darkSecondaryColor: #0c8727a1;

$lightBgColor: #d8d1d1;
$lightPrimaryColor: #190bdc;
$lightSecondaryColor: #0105ff74;

@mixin dark {
    background: $darkBgColor;
    color: $darkPrimaryColor;
}

@mixin light {
    background: $lightBgColor;
    color: $lightPrimaryColor;
}