.item {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.link {
    margin-left: 0;
    opacity: 0;
    width: 0;
    white-space: nowrap;
    transition: opacity 0.2s;
}


.icon {
    fill: var(--inverted-primary-color);
}

.isOpen.link {
    margin-left: 10px;
    opacity: 1;
    width: fit-content;
}